<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moko.commuregw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.moko.commuregw.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LaunchActivityTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.moko.commuregw.activity.GuideActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.commuregw.activity.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.commuregw.activity.MqttSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.commuregw.activity.SetAppMQTTActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.commuregw.activity.ModifyNameActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moko.commuregw.activity.AboutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.DeviceScannerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.DeviceDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.DeviceSettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.DeviceInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.OTAActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.IndicatorSettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.DataReportTimeoutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ConnectBeaconTimeoutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.CommunicationTimeoutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.NetworkReportIntervalActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.DuplicateDataFilterActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ScannerUploadOptionActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.FilterMacAddressActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.FilterTagIdActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.TimeOffsetActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.DecryptionKeyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.BatchDFUBeaconActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.BatchUpdateKeyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.FilterRawDataSwitchActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.FilterUrlActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.FilterTLMActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.FilterOtherActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.UploadDataOptionActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.SyncTimeFromNTPActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.SystemTimeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ModifyMQTTSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.DeviceConfigActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.WifiSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.NetworkSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.NtpSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ScannerFilterActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.DeviceInformationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.BleManagerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.BXPButtonInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.BleOtherInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ReconnectTimeoutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.FilterBXPButtonActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.FilterBXPTagActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.FilterPIRActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ModifyNetworkSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ModifySettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ModifyWifiSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ButtonResetActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.BeaconDFUActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ButtonSOSActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.commuregw.activity.ButtonSelfTestTriggeredActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.DeviceSelfTestParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AccParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SleepModeParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AdvParamsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BatchOTAGatewayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddConfiguredGatewayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ButtonLogActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.DownDataActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BatchConfigGatewayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ChooseConfigSettingsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SOSAlarmNotifyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.DismissSOSAlarmNotifyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BtnPressEffectiveIntervalActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="com.moko.commuregw.service.DfuService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.commuregw.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>
